/* Normal desktop :992px. (Laptop 14") */
@media (min-width: 992px) and (max-width: 1199px) {

  /* Global */
  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 26px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 18px !important;
  }

  h6 {
    font-size: 16px !important;
  }

  p {
    font-size: 14px !important;
  }
}

/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  /* Global */
  body {
    font-size: 14px !important;
  }

  h1 {
    font-size: 26px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  h5 {
    font-size: 16px !important;
  }

  h6 {
    font-size: 15px !important;
  }

  p {
    font-size: 14px !important;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {

  /* Global */
  body {
    font-size: 12px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  h4 {
    font-size: 15px !important;
  }

  h5 {
    font-size: 14px !important;
  }

  h6 {
    font-size: 13px !important;
  }

  p {
    font-size: 12px !important;
  }
}